#blink{
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
#notification{
    padding-top: 10%;
    padding-left: 35%;
    width: 100%;
    display: inline-block;
    align-items: center;
  }
#counter{
    padding-left: 33%;
    width: 100%;
    display: flex;
  }
  